* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.about-me-container {
  background-color: #262626;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.skills-container {
  background-color: #262626;
  margin: 0 auto;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.banner {
  border-radius: 10px 10px 0 0; 
  background: linear-gradient(90deg, #1cbf6b, #04bae2); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;

}

.profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.profile img {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.profile h1 {
  font-size: 2rem;
  color: #fff;
  /* margin-bottom: 10px; */
}

.profile p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #04bae2;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.social-icons a:hover {
  background-color: #1cbf6b;
}

footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #777;
}